.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    
  }
  
  .cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
  }
  
  .cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
  }
  
  /* Home Page */
  
  .home {
    display: inline-grid;
  grid-template-columns: 1fr 3fr ;
  }
  
  .filters {
    display: block;
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 23%;
      margin: 6px;
    height: 88vh;
    position: fixed;
    top: 79px;
  }
  
  .filters > span {
    padding-bottom: 25px;
  }
  
  .title {
    font-size: 30px;
  }
  
  .containproduct {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 55px;
  }
  
  .productcard {
    width: 30%;
    margin: 10px;
  }
  
  .summary {
    width: 30%;
  }
  
  /* Media Queries */
  /* @media (max-width: 771px) {
    .filters {
      width: 40%;
      padding: 10px;
      margin: 5px;
    }
  
    .filters > span {
      font-size: 10px;
    }
  
    .title {
      font-size: 18px !important;
    }
  
    .containproduct {
      width: 58%;
      padding: 0;
    }
  
    .search {
      display: none !important;
    }
  
    .products {
      width: 100%;
    }
  } */
  .dropdown-menu{
    left: -119px !important;
  }
  

.card-subtitle {
  margin-bottom: 12px !important;
}
